@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background: black;
    color: white;
    padding: 40px;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: bold;
    font-size: 24px;
}

main{
    width: 100%;
    max-height: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 100%;
    display: block;
}

.logo{
    width: 96px;
}

.principal{
    width: 100%;
    gap: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    max-width: 95%;
}

.encriptador{
    background: black;
    color: white;

    width: 95%;
    height: 100%;
    min-height: 75px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;

    border: none;
    outline: none;
    resize: none;
}

.inter{
    gap: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

.aviso{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.aviso p{
    opacity: 0.5;
}

.botones{
    gap: 24px;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    background: rgb(27, 27, 27);
    color: white;

    height: 60px;
    padding: 24px 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;

    border-radius: 24px;
}

.encriptar, .desencriptar{
    min-width: 340px;
}

button:hover{
    cursor: pointer;
    background: white;
    color: black;
}

aside{
    background: rgb(27, 27, 27);

    height: 80vh;
    width: 40%;
    gap: 40px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 32px;
}

.no-mensaje{
    gap: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    width: 100%;
    
    padding: 0px;
    gap: 20px;

    display: flex;
    flex-direction: column;

    text-align: center;
    line-height: 30px;
}

.texto-aside{
    height: 90%;
    width: 100%;
}

.resultado{
    background: rgb(27, 27, 27);
    color: white;

    width: 95%;
    height: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    border: none;
    resize: none;
}

.btn-copy{
    background: #3c3c3c;
    border: none;

    min-width: 260px;
}

#btn-copy:hover{
    background: white;
}

@media screen and (max-width:1200px){
    body{
        display: block;
        height: 100%;

    }
    
    main{
        gap: 32px;
        flex-direction: column;
    }

    textarea{
        height: auto;
    }


    .imagen{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .encriptador{
        height: 475px;
    }

    aside{
        height: auto;
        width: 80%;
    }

    .img-aside{
        display: none;
    }

    .resultado{
        height: 175px;
        width: 95%;
    }
}

@media screen and (max-width:720px){
    .encriptador{
        height: 425px;
    }

    button{
        width: 100%;
    }

    .botones{
        flex-direction: column;
        width: 80%;
    }

    .resultado{
        height: 435px;
        width: 95%;
    }

    .inter{
        width: 95%;
    }
}